<link href="/css/config.css" rel="stylesheet" />
<script src='/js/script-config.js' type="text/javascript"></script>
<div id="config" class="config">
    <div id="containerConfig" class="container">
        <div class="container-options">
            <span class="title-menu">Cadastros: </span>
            <a href="#" class="badge badge-Secondary badge-pill">Usuário</a>
            <a href="#" class="badge badge-primary badge-pill">Setor</a>
            <a href="#" class="badge badge-primary badge-pill">Cargo</a>
            <a href="#" class="badge badge-primary badge-pill">Filial</a>
            <a href="#" class="badge badge-primary badge-pill">Jornada</a>
        </div>
        <div class="side-nav">
            <nav class="config-menu">
                <ul>
                    <li>
                        <a href="">
                            <i class="fa fa-pencil-square-o"></i>
                            <span class="nav-text">
                                Dashboard
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="titulo-dados-pessoais">
            <span class="title-menu">Seus Dados: </span>
        </div>

        <div class="container-form-dados-pessoais">
            <div class="row">
                <div class="col-form">
                    <input class="input-form" type="text" id="imputNome" placeholder="Nome Completo" value="<%= user.nome %>">
                    <span class="focus-border"></span>
                </div>
                <div class="col-form">
                    <input class="input-form" type="text" id="imputCpf" placeholder="CPF" value="<%= user.cpf%>">
                    <span class="focus-border"></span>
                </div>
                <div class="col-form">
                    <input class="input-form" type="text" id="imputMatricula" placeholder="Matricula" value="<%= user.matricula %>">
                    <span class="focus-border"></span>
                </div>

            </div>

            <div class="row">
                <div class="col-form">
                    <input class="input-form" type="text" id="imputMatricula" placeholder="Dat. Nasc.:" value="<%= user.nome %>">
                    <span class="focus-border"></span>
                </div>
                <div class="col-form">
                        <input class="input-form" type="text" id="imputMatricula" placeholder="Email"value="<%= user.email %>">
                        <span class="focus-border"></span>
                    </div>
            </div>
        </div>


    </div>
</div>



<script src='/js/script-registrar.js' type="text/javascript"></script>